In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import joblib
import math

In [2]:
model = joblib.load("model_cat_4.joblib")

In [3]:
df = pd.read_csv('test.csv')

In [4]:
df

        Id       Timestep   Course               Faculty
0        0  AY1990-AY1991  KA26197   Prof. Judah Jenkins
1        1  AY1990-AY1991  TW19052    Prof. Cooper Floyd
2        2  AY1990-AY1991  FP16950  Prof. Carter Harding
3        3  AY1990-AY1991  HY25227      Prof. Sarah Kane
4        4  AY1990-AY1991  VS22092    Prof. Martin Reyes
...    ...            ...      ...                   ...
9995  9995  AY2009-AY2010  KN14962  Prof. Ricardo Stuart
9996  9996  AY2009-AY2010  KV13591  Prof. Aiyana Mcbride
9997  9997  AY2009-AY2010  MK15674    Prof. Kody Aguirre
9998  9998  AY2009-AY2010  NW16681    Prof. Rishi Fowler
9999  9999  AY2009-AY2010  QY25453    Prof. Casey Sawyer

[10000 rows x 4 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        10000 non-null  int64
 1   Timestep  10000 non-null  object
 2   Course    10000 non-null  object
 3   Faculty   10000 non-null  object
dtypes: int64(1), object(3)
memory usage: 312.6+ KB

In [6]:
df['Course'].value_counts()

SB29827    20
QU15654    20
QZ15242    20
NO21170    19
JT20238    19
           ..
OR19912    11
XS19457    11
HE28500    11
EG21029    10
IC16913    10
Name: Course, Length: 656, dtype: int64

In [7]:
df['Faculty'].value_counts()

Prof. Alia Simon           33
Prof. Luna Jensen          32
Prof. Jaelynn Alexander    32
Prof. Kamron Barker        31
Prof. Lawson Robinson      30
                           ..
Prof. Dexter Bolton        10
Prof. Rishi Fowler         10
Prof. Kennedy Sweeney      10
Prof. Fletcher Caldwell    10
Prof. Junior Carson         9
Name: Faculty, Length: 560, dtype: int64

In [8]:
type(df['Timestep'])

pandas.core.series.Series

In [9]:
df['Year'] = df['Timestep'].apply(lambda x: int(x[2:6]))

In [10]:
Course_dummies = pd.get_dummies(df['Course'])
Course_dummies

,AB18023,AB20928,AB25695,AD18559,AD21894,AJ19783,AL19784,AL28154,AM18690,AN11745,...,ZS11345,ZS16168,ZS29879,ZU20965,ZU29326,ZV18131,ZV23833,ZW13749,ZX11344,ZZ23306
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df = pd.concat([df, Course_dummies.drop('ZZ23306', axis = 'columns')], axis='columns')
df

,Id,Timestep,Course,Faculty,Year,AB18023,AB20928,AB25695,AD18559,AD21894,...,ZR13208,ZS11345,ZS16168,ZS29879,ZU20965,ZU29326,ZV18131,ZV23833,ZW13749,ZX11344
0,0,AY1990-AY1991,KA26197,Prof. Judah Jenkins,1990,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,AY1990-AY1991,TW19052,Prof. Cooper Floyd,1990,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,AY1990-AY1991,FP16950,Prof. Carter Harding,1990,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,AY1990-AY1991,HY25227,Prof. Sarah Kane,1990,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,AY1990-AY1991,VS22092,Prof. Martin Reyes,1990,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,AY2009-AY2010,KN14962,Prof. Ricardo Stuart,2009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,9996,AY2009-AY2010,KV13591,Prof. Aiyana Mcbride,2009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,9997,AY2009-AY2010,MK15674,Prof. Kody Aguirre,2009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,9998,AY2009-AY2010,NW16681,Prof. Rishi Fowler,2009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,9999,AY2009-AY2010,QY25453,Prof. Casey Sawyer,2009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
Faculty_dummies = pd.get_dummies(df['Faculty'])
Faculty_dummies

,Prof. Aaliyah Cline,Prof. Adelaide Holt,Prof. Adelyn Velasquez,Prof. Aden Mcgrath,Prof. Adison Lucas,Prof. Adrian Mathews,Prof. Adriana Anthony,Prof. Adrianna Frank,Prof. Adyson Guerrero,Prof. Aedan King,...,Prof. Warren Wall,Prof. Willow Moon,Prof. Wilson Hutchinson,Prof. Yael Powell,Prof. Yosef Becker,Prof. Yurem Horton,Prof. Zain Cox,Prof. Zara Le,Prof. Zion Mcgee,Prof. Zoie Mueller
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df = pd.concat([df, Faculty_dummies.drop('Prof. Zoie Mueller', axis = 'columns')], axis='columns')
df

,Id,Timestep,Course,Faculty,Year,AB18023,AB20928,AB25695,AD18559,AD21894,...,Prof. Wade Taylor,Prof. Warren Wall,Prof. Willow Moon,Prof. Wilson Hutchinson,Prof. Yael Powell,Prof. Yosef Becker,Prof. Yurem Horton,Prof. Zain Cox,Prof. Zara Le,Prof. Zion Mcgee
0,0,AY1990-AY1991,KA26197,Prof. Judah Jenkins,1990,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,AY1990-AY1991,TW19052,Prof. Cooper Floyd,1990,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,AY1990-AY1991,FP16950,Prof. Carter Harding,1990,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,AY1990-AY1991,HY25227,Prof. Sarah Kane,1990,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,AY1990-AY1991,VS22092,Prof. Martin Reyes,1990,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,AY2009-AY2010,KN14962,Prof. Ricardo Stuart,2009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,9996,AY2009-AY2010,KV13591,Prof. Aiyana Mcbride,2009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,9997,AY2009-AY2010,MK15674,Prof. Kody Aguirre,2009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,9998,AY2009-AY2010,NW16681,Prof. Rishi Fowler,2009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,9999,AY2009-AY2010,QY25453,Prof. Casey Sawyer,2009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
min_year = min(df['Year'])
max_year = max(df['Year'])

df['Year_'] = df['Year'].apply(lambda x: ( x - min_year ) / ( max_year - min_year ))

In [15]:
df.dtypes

Id                      int64
Timestep               object
Course                 object
Faculty                object
Year                    int64
                       ...
Prof. Yurem Horton      uint8
Prof. Zain Cox          uint8
Prof. Zara Le           uint8
Prof. Zion Mcgee        uint8
Year_                 float64
Length: 1220, dtype: object

In [16]:
x = df.drop(['Id', 'Timestep', 'Course', 'Faculty', 'Year_'], axis = 'columns')

In [17]:
y_pred = model.predict(x)

In [18]:
df['Predicted'] = y_pred+25

In [19]:
df_submission = df[['Id', 'Predicted']]
df_submission

        Id    Predicted
0        0   766.140590
1        1   438.477667
2        2   586.860850
3        3   411.068904
4        4  1045.373388
...    ...          ...
9995  9995  1015.309849
9996  9996   963.902811
9997  9997   460.110281
9998  9998   733.147405
9999  9999   400.299191

[10000 rows x 2 columns]

In [20]:
df_submission.to_csv("submission_best.csv", index=False)

In [21]:
for i in df_submission['Predicted']:
    if i < 0:
        print(i)